.main_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; /* Alinha ao centro */
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

/* Contêiner para barra de pesquisa e botão */
.button-search-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 15px;
}

/* Barra de pesquisa */
.search-input {
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
}

.btn {
  background-color: #f57c00;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.btn:hover {
  background-color: #e06900;
}

.evento-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Adiciona rolagem horizontal */
  padding: 10px;
  width: 90vw; /* Mantém os eventos dentro da tela */
  white-space: nowrap;
  scrollbar-width: thin; /* Esconde scrollbar no Firefox */
}

.evento-card {
  background-color: #fd9732;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px; /* Define um tamanho mínimo */
  max-width: 90%; /* Permite adaptação ao texto */
  min-height: 100px; /* Evita que fiquem muito pequenos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  word-wrap: break-word; /* Garante que palavras longas quebrem corretamente */
  flex-shrink: 0;
}
